@using Shop.ViewModels
@model DetailbillViewmodel

@{
    ViewData["Title"] = "รายการบิล";
}

<div class="text-center">
    <h1>รายการบิล</h1>
</div>

<div class="text-center">
    <br>
    <br>
    <table border="1">
        <thead>
            <tr>

                <th rowspan="2" colspan="3"> </th>
                <th>เลขบิล </th>
                <th>Bill-000@(Model.bill_total.IdBill)</th>
            </tr>
            <tr>

                <th>วันที่ </th>
                <th>@Model.bill_total.Date.ToString("dd/MM/yyyy")</th>
            </tr>
            <tr>
                <th colspan="5">&nbsp;</th>
            </tr>

            <tr>
                <th> สินค้า </th>
                <th> จำนวน/หน่วย </th>
                <th> ราคา/หน่วย </th>
                <th> ราคา </th>
                <th> ส่วนลด </th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var data in Model.bill_detail)
                {
                        <tr>
                            <td> @data.NameProduct</td>
                            <td> @data.Count / @data.NameUnit</td>
                            <td> @data.ProductPrice</td>
                            <td> @data.totalPrice</td>
                            <td> @data.Discount</td>

                        </tr>
                }
            }
            <tr>
                <th colspan="5">&nbsp;</th>
            </tr>
            <tr>
                <th rowspan="3" colspan="3"> </th>
                <th>ราคารววมก่อนส่วนลด </th>
                <th>@Model.bill_total.PriceAfter</th>
            </tr>
            <tr>

                <th>ส่วนลดทั้งหมด </th>
                <th>@Model.bill_total.TotalDiscount</th>
            </tr>
            <tr>

                <th>ราคารวมทั้งหมด </th>
                <th>@Model.bill_total.PriceBefore</th>
            </tr>

        </tbody>
    </table>
    <br>
    <center>
        <input type='button' value='กลับหน้ารายการ' id='myButton' onclick="BlackToList()" />
    </center>
    <br>
</div>
<style>
    table {
        width: 100%;
        height: 50px;
    }

        table th {
            height: 50px;
        }
</style>