@using Shop.ViewModels
@model EditProductViewmodel
@{
    ViewData["Title"] = "แก้ไขสินค้า";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div>
<br><br>
    <table class="center">
        <tr>
            <td>ชื่อสินค้า :</td>
            <td>
                <input type="text" value="@Model.NameProduct" id="edit_product">
                <span style="color:red;" id="validate_edit_nameproduct"></span>
            </td>
        </tr>
        <tr>
            <td><label>หน่วย : </label></td>

            <td>
                <select name="name_unit" id="edit_unit">

                    @foreach (var data in Model.unit)
                    {
                        if (Model.IdUnit == data.IdUnit)
                        {
                            <option value="@data.IdUnit" selected> @data.NameUnit </option>

                        }
                        else
                        {
                            <option value="@data.IdUnit"> @data.NameUnit </option>
                        }

                        @*@(Model.IdNoun == data.IdNoun? "selected" : "" )*@
                    }

                </select>
            </td>
        </tr>
        <tr>
            <td><label>ราคา : </label></td>

            <td>
                <input type="text" value="@Model.ProductPrice" id="edit_price">
                <span style="color:red;" id="validate_edit_price"></span>
            </td>

        </tr>
    </table>
    <br>
    <center>
        <input type='button' value='บันทึก' id='myButton' onclick="Update_Product(@Model.Product_Id)" />
    </center>
    <br>

</div>
<style>
    table {
        margin-left: auto;
        margin-right: auto;
    }
</style>





