@using Shop.ViewModels
@model billViewmodel

@{
    ViewData["Title"] = "รายการบิล";
}

<div class="text-center">
    <h1>รายการบิล</h1>
</div>

<div class="text-center">
    <label>วันที่ :</label>&nbsp;<input type="date">&nbsp;
    <label>หมายเลขบิล :</label>&nbsp;<input type="text">&nbsp;
    <input type='button' value='ค้นหา' id='myButton' onClick='Add_Bill()' />&nbsp;
    <input type='button' value='เพิ่มบิล' id='myButton' onClick='Add_Bill()' />
    <br>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th> วันที่ </th>
                <th> หมายเลขบิล </th>
                <th> ราคาทั้งหมดก่อนลดราคา </th>
                <th> ลดราคาทั้งหมด </th>
                <th> ราคาทั้งหมดหลังลดราคา </th>
                <th> รายละเอียด </th>
            </tr>
        </thead>
        <tbody>

            @{ foreach (var data in Model.bill)
                {
                    <tr>
                        <td>@data.Date.ToString("dd/MM/yyyy")</td>
                        <td>@data.IdBill</td>
                        <td>@data.PriceAfter</td>
                        <td>@data.TotalDiscount</td>
                        <td>@data.PriceBefore</td>
                        <td> <input type="button" name="detail" onClick='Detail_Bill(@data.IdBill)' value="รายละเอียด"></td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>

<style>
    table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
    }

        table th {
            height: 50px;
        }
</style>