@using Shop.ViewModels
@model billViewmodel

@{
    ViewData["Title"] = "รายการบิล";
}

<div class="text-center">
    <h1>รายการบิล</h1>
</div>

<div class="text-center">
    <label>วันที่ :</label>&nbsp;<input type="date" id="date">&nbsp;
    <label>หมายเลขบิล :</label>&nbsp;<input type="text" id="bill">&nbsp;
    <input type='button' value='ค้นหา' id='myButton' onClick='show_and_search_bill()' />&nbsp;
    <input type='button' value='เพิ่มบิล' id='myButton' onClick='Add_Bill()' />
    <br>
    <br>
    <table border="1" id="Mytable">
        <thead>
            <tr>
                <th> วันที่ </th>
                <th> หมายเลขบิล </th>
                <th> ราคาทั้งหมดก่อนลดราคา </th>
                <th> ลดราคาทั้งหมด </th>
                <th> ราคาทั้งหมดหลังลดราคา </th>
                <th> รายละเอียด </th>
            </tr>
        </thead>
        <tbody id="body1">

            @*@{ foreach (var data in Model.bill)
                    {
                        <tr>
                            <td id="date">@data.Date.Value.ToString("dd/MM/yyyy")</td>
                            <td id="name">@data.NameBill</td>
                            <td id="PA">@data.PriceAfter</td>
                            <td id="TD">@data.TotalDiscount</td>
                            <td id="PB">@data.PriceBefore</td>
                            <td> <input type="button" name="detail" onClick='Detail_Bill(@data.IdBill)' value="รายละเอียด"></td>
                        </tr>
                    }

                }*@
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        show_and_search_bill();
    });


    function show_and_search_bill() {
        var bill = document.getElementById('bill').value;
        var date = document.getElementById('date').value;
        console.log(date)
        var obj = { NumberBill: bill, date:date}
        axios({
            method: 'post',
            url: '/Home/Get_Listbill',
            data: obj,
        })
            .then(function (response) {
                console.log(response);
                var x = "";
                response.data.forEach(function (element) {
                    x += '<tr>';
                    x += '<td>' + element.dateformate + '</td>';
                    x += '<td>' + element.numberBill + '</td>';
                    x += '<td>' + element.priceBefore + '</td>';
                    x += '<td>' + element.totalDiscount + '</td>';
                    x += '<td>' + element.priceAfter + '</td>';
                    x += '<td><input type="button" name="detail" onClick="Detail_Bill('+element.idBill+')" value="รายละเอียด"></td>';
                    x += '</tr>';
                });
                document.getElementById("body1").innerHTML = x;
            })
            .catch(function (error) {
                console.log(error);
            });

    }
</script>
<style>
    table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
    }

        table th {
            height: 50px;
        }
</style>